.paginationContainer {
  margin-top: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #4b5563;
  font-size: 14px;
}

.paginationControls, .paginationPageSize {
  display: flex;
  align-items: center;
  gap: 8px;
}

.paginationButton {
  padding: 8px 16px;
  border-radius: 8px;
  border: 1px solid #d1d5db;
  background: #fff;
  cursor: pointer;
}

.activePage{
  background-color: #00ddff;
  color: white;
}

.paginationButton:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}